<style>



</style>

<div class="new-post">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">          
        <%= f.select :vibe_type, ['image', 'soundcloud', 'youtube', 'quote'] %> </br>
      </div>

      <div class="field">
        <%= f.file_field :picture, description: 'choose file', label: 'choose file' %>
      </div>

      <div class="field">
        <%= f.text_field :title, placeholder: 'name it' %>
      </div>
      
      <div class="field" wrap="hard">
        <%= f.text_field :body, placeholder: 'body' %></br>
      </div>

      <div class="field">
        <%= f.text_field :url, placeholder: 'soundcloud/youtube link' %></br>
      </div>

      <div class="actions">
        <%= f.submit "Submit"%>
      </div>
      <!-- , data: { confirm: "your file has been submitted for approval" }  -->
      
      <%= link_to 'Back', posts_path %>
  <% end %>
</div>
