<link href='https://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>

<style>

.phils-container {
  width: 992px;
  margin: auto;
}

#non-media {
    padding: 5em;
    width: 300px;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
}

h4 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

</style>

<div class="phils-container">
  <div class="container-fluids" style="">
    <div class="grid">
       <!-- If user's not signed in, only show approved images -->
       <% @posts.each do |post| %>
           <% if post.vibe_type == "soundcloud" %>
               <div class="grid-item" >
                   <iframe width="300" scrolling="no" frameborder="no" src="<%= post.getSrc.to_s %>" ></iframe>
                   <p class="sort_by_value" style="display:none;"> <%= post.created_at %></p>
                    <%= link_to "see whatsup", post_path(post) %>
                   <% if !post.approved %>
                       <span style="color:red;">NOT APPROVED</span>
                   <% end %>
               </div>

           <% elsif post.vibe_type == "youtube" %>
               <div class="grid-item">
                   <iframe width="300" frameborder="0"src="<%= post.getSrc.to_s %>" > </iframe>
                   <p class="sort_by_value" style="display:none;"> <%= post.created_at %></p>
                   <%= link_to "see whatsup", post_path(post) %>
                   <% if !post.approved %>
                       <span style="color:red;">NOT APPROVED</span>
                   <% end %>
               </div>

           <% elsif post.vibe_type == 'image' %>
               <!-- <h1> here's a header</h1> -->
               <% if post.picture_file_size %>
                   <div class="grid-item">
                       <%= image_tag post.picture.url %>
                       <%= link_to "see whatsup", post_path(post) %>
                       <% if !post.approved %>
                           <span style="color:red;">NOT APPROVED</span>
                       <% end %>
                   </div>
               <% end %>

           <% elsif post.vibe_type == 'quote' %>
               <div class="grid-item" id="non-media">
                   <h4> <%= post.title %> </h4>
                   <p> <%= post.body %> </p>
                   <%= link_to "see whatsup", post_path(post) %>
                   <% if !post.approved %>
                       <span style="color:red;">NOT APPROVED</span>
                   <% end %>
               </div>
           <% end %>
       <% end %>
     </div>
   </div>
</div>
